html, body {
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
	color: white;
	font: 12pt "Fira Sans", sans-serif;
}

a:link {
	color: #eeeeff;
}

a:visited {
	color: #ccccdd;
}

a:hover {
	color: #ffeeff;
}
a:active {
	color: #ffccff;
}
button {
	border-top: 2px solid lightgray;
	border-left: 2px solid lightgray;
	border-bottom: 2px solid darkgray;
	border-right: 2px solid darkgray;
	border-radius: 4px;
	vertical-align: bottom;
	background: black;
	color: #eeeeff;
	font: 14pt "Fira Sans", sans-serif;
	cursor: pointer;
}

canvas {
	border: 1px solid gray;
	cursor: crosshair;
}

code, pre {
	font: 12pt "Fira Mono", monospace;
	background-color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Fira Sans", sans-serif;
	font-weight: bold;
}
ul, ol, dl {
	margin: 0;
}
li {
	margin: 0;
}
input[type=text], textarea {
	font: 12pt "Fira Mono", monospace;
	background-color: black;
	border-top: 2px solid #333333;
	border-left: 2px solid #333333;
	border-bottom: 2px solid #666666;
	border-right: 2px solid #666666;
	color: white;
}
label {
	font: 14pt "Fira Sans", sans-serif;
}
select {
	background-color: black;
	color: white;
	font: 14pt "Fira Sans", sans-serif;
}
tr {
	vertical-align: top;
}

.button {
	background-color: black;
	color: blue;
	width: 64px;
	height: 64px;
}
.sysbutton {
	background-color: black;
	color: blue;
	width: 64px;
	height: 64px;
	border-color: #fd7c08;
}
.tinybutton {
	background-color: black;
	color: blue;
	width: 32px;
	height: 20px;
}
.error {
	color: red;
}
.prompt {
	color: gray;
}
.system {
	color: #9966cc;
}
.hint {
	font-size: 75%;
	color: gray;
}

.wrapperPanel {
	width: 100%;
	height: 99vh;
	display: flex;
	flex-direction: column;
	/* border: 1px solid blue; */
}

.outputPanel {
	width: 99%;
	flex-grow: 1.0;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	/* border: 1px solid red; */
}
.outputPanel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #333333;
	border-radius: 10px;
}
.outputPanel::-webkit-scrollbar {
	width: 10px;
	background-color: #333333;
	border-radius: 10px;
}
.outputPanel::-webkit-scrollbar-thumb {
	background-color: #006600;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#009900), to(#006600));
}

.inputPanel {
	width: 99%;
	flex-grow: 0;
	/* margin: auto; */
	background-color: #333333;
	/* border: 1px solid green; */
}

.canvasPanel {
	width: 99%;
	flex-grow: 0;
	/* margin: auto; */
}
